
nav{
  text-align: center;
}
a{
  text-decoration:none;
  font-family: 'Fjalla One', sans-serif;
  margin-left:50px;
}
.collapsein{
    display: none;
}
#PageCon{
  text-indent:20px;
  font-family:'Fjalla One', sans-serif;
}
