ul {
  margin-left: 10px;
  list-style-type: none;
  vertical-align: middle;
  display: block;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  overflow:auto;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size:
    font-family: 'Montserrat', sans-serif;
}

nav {
  text-align: center;
}

a {
  padding: 5px 8px 2px 8px;
  color: #35cece;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 50px;
}

a:hover {
  background-color: lightgrey;
}

.ConLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  background-color: #35cece;
  margin-top: 35px;
  margin-right: 150px;
  margin-left: 150px;
}

.headings {
  margin-left: 20px;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
}

.con {
  margin-left: 16px;
  display: none;
  font-size: 20px;
  margin-bottom: 10px
}

#menu {
  margin-top: 30px;
}

.PageCon {
  text-indent: 10px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 32px;
  vertical-align: middle;
  margin-bottom:27px;
}


img {
  margin-right:20px;
  float: left;
  overflow: auto;
}
